@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

/* body {
  background: rgb(31,127,166);
background: linear-gradient(0deg, rgba(31,127,166,1) 0%, rgba(4,20,73,1) 100%);


  min-height: 200vh;
} */
/* Add these styles to your CSS file or within a <style> tag in your HTML */

/* Style for the sticky navbar */
#navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  transition: box-shadow 0.3s ease;
}

/* Style for the white background on scroll */


#navbar.shadow-md {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.151);
}

.hero-header {
    margin-bottom: 6rem;
    padding: 18rem 0;
 
}





