@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* body {
  background: rgb(31,127,166);
background: linear-gradient(0deg, rgba(31,127,166,1) 0%, rgba(4,20,73,1) 100%);


  min-height: 200vh;
} */
#particles-js{
  height: 100%;
  background-color: #041449;
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

*** Hero Header ***/
.hero-header {
    margin-bottom: 6rem;
    padding: 18rem 0;
 
}

